form {
  width: 40%;
  padding: 50px 0px;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chart {
  width: 70%;
}
.error-message {
  color: red;
  font-size: 20px;
  padding: 10px;
  border: 2px solid red;
  border-radius: 10px;
  background-color: rgb(247, 207, 207);
}
